.projects-page{
    .text-zone{
      position: absolute;
        left: 10%;
        top: 50%;
        width: 60%;
        max-height: 90%;
    }
    h1{
        color:black;
        font-size: 50px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}