.text-zone{
        position: absolute;
        left: 40%;
        top: 5%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }
    h1{
        color:black;
        font-size: 80px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
    h2{
        top: 100%;
        left: 15%;
        color:black;
        font-size: 40px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        width: 80%;
        margin-bottom: 1500px;
    }

    .shajaat{
        width: 300;
        height: 480;
        margin-left: 1350px;
    }