.home-page{
    .text-zone{
        position: relative;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
        
        z-index: 2
    }
    h1{
        color:black;
        font-size: 50px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            margin-left: 20px;
            opacity: 0;
            width: 50px;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1s;
            }
    }
    h2{
        color: rgb(37, 33, 33);
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Coolvetica';
        letter-spacing: 1px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{

        color: rgb(37, 33, 33);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 10px;
        margin: 25px;
        border: 1px solid rgb(37, 33, 33) ;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;
        margin-left: 0px;

        &:hover {
        background: #5c5a53;
        color: #333;
        }
    }
    
}

#sky {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: absolute;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);

    top: 0;
    left: 0;
    z-index: 1;
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}