.nav-bar {
    background: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: auto;
    height: 40px;
    margin: 0;
    padding-left: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;

    a {
        font-size: 16px;
        color: black;
        padding: 0 15px;
        line-height: 80px;
        height: 80px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        i {
            transition: all 0.15s ease-out;
        }

        &:hover {
            color: gray;

            svg {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        &::after {
            content: attr(data-text);
            font-size: 9px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.project-link {
            &:after {
                content: 'PROJECTS';
            }
        }

        a.active {
            svg {
                color: #3a4920;;
            }
        }
    }
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: auto;
    padding: 0;
    margin: 0;
    list-style: none;

    li a {
        padding: 7px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;
        padding-right: 20px;

        &:hover svg {
            color: #3a4920;
        }
    }
}
